<md-toolbar color="primary">
    <span class="left">Terre Submersa Protal (Demo)</span>
    <span class="space-filler"></span>
    <span class="right"> <ts-menu-actions></ts-menu-actions></span>
</md-toolbar>
