<h2>
  Map layers
</h2>
<div *ngFor="let x of selectedMapLayers.availableMapLayers.list" >
  <span><md-slide-toggle [checked]="selectedIds[x.id]" (change)="changeToggle(x.id, $event.checked)">
  </md-slide-toggle>{{x.description}}</span>
</div>

