<span md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>settings</md-icon> configuration
</span>
<md-menu #menu="mdMenu">
  <button  md-menu-item (click)="openMapLayerSelector()">
    <span><md-icon>filter</md-icon> map layers</span>
  </button>
</md-menu>

